In [1]:
import datetime
import os

import pandas as pd

In [2]:
EXPO = "MSW"
SIDE = "left"

In [3]:
path = "./ExperimentData"
files_exp = os.listdir(path)
created_exp = []

for f in files_exp:  # iterate over files
    # remove hidden/config files and folders
    if not f.endswith(".raw"):
        files_exp.remove(f)
    else:
        created = os.path.getmtime(f"{path}/{f}")  # creation timestamp
        created = datetime.datetime.fromtimestamp(created)  # translate to dt
        created = created.strftime("%d.%m.%Y %H:%M")  # arrange it
        created_exp.append(created)  # store it

uids_exp = set([f.split("-")[2].split(".")[0] for f in files_exp])

In [4]:
path = "./EventData"
files_eve = os.listdir(path)
created_eve = []

for f in files_eve:  # iterate over files
    # remove hidden/config files and folders
    if not f.endswith(".bin"):
        files_eve.remove(f)
    else:
        created = os.path.getmtime(f"{path}/{f}")  # creation timestamp
        created = datetime.datetime.fromtimestamp(created)  # translate to dt
        created = created.strftime("%d.%m.%Y %H:%M")  # arrange it
        created_eve.append(created)  # store it

uids_eve = set([f.split("-")[2].split(".")[0] for f in files_eve])

In [5]:
uids_exp - uids_eve

set()

In [6]:
uids_eve - uids_exp

set()

In [7]:
print(len(uids_exp))
print(len(uids_eve))
print(abs(len(uids_exp) - len(uids_eve)))

13970
13970
0

In [8]:
# select shortest uid lis, there are 20 missing recordings from one side
id_side = [
    {
        "id": f.split("-")[2].split(".")[0],
        "created": created_exp[i],
        "expo": EXPO,
        "side": SIDE,
    }
    for i, f in enumerate(files_exp)
]

In [9]:
id_side = pd.DataFrame(id_side)
id_side = id_side.sort_values("created")
id_side

                                     id           created expo  side
5067   155e035d01544c8b82152d6831787980  01.06.2019 11:38  MSW  left
4744   0382fc9d07994096ae4853e8b177f3ca  01.06.2019 12:02  MSW  left
8111   c226385e176a49c8af9a854554c3b403  01.06.2019 12:11  MSW  left
5788   3ebdc6d50ac042ec81b0e1318a5c5199  01.06.2019 12:15  MSW  left
8484   d716dcdaa06a499e9fa723d758e5c703  01.06.2019 12:19  MSW  left
...                                 ...               ...  ...   ...
1091   3adde848f6cf481ba56379a0b2bd9117  31.08.2019 14:25  MSW  left
10321  3aee0db4fbf94a6bb72e8bfe8601ac97  31.08.2019 14:49  MSW  left
7875   b4eed6ac55db4480841a3c708931d8c3  31.08.2019 16:12  MSW  left
7486   9d31731aaded44139207164c63c6e923  31.08.2019 16:17  MSW  left
5212   1eb0d2a71865456281fdb8a108c2b7d0  31.08.2019 16:22  MSW  left

[13970 rows x 4 columns]

In [10]:
id_side.to_csv(f"./{EXPO.lower()}_{SIDE}_uids.csv", index=False)