In [1]:
import datetime
import os

import pandas as pd

In [2]:
EXPO = "MSW"
SIDE = "right"

In [3]:
path = "./ExperimentData"
files_exp = os.listdir(path)
created_exp = []

for f in files_exp:  # iterate over files
    # remove hidden/config files and folders
    if not f.endswith(".raw"):
        files_exp.remove(f)
    else:
        created = os.path.getmtime(f"{path}/{f}")  # creation timestamp
        created = datetime.datetime.fromtimestamp(created)  # translate to dt
        created = created.strftime("%d.%m.%Y %H:%M")  # arrange it
        created_exp.append(created)  # store it

uids_exp = set([f.split("-")[2].split(".")[0] for f in files_exp])

In [4]:
path = "./EventData"
files_eve = os.listdir(path)
created_eve = []

for f in files_eve:  # iterate over files
    # remove hidden/config files and folders
    if not f.endswith(".bin"):
        files_eve.remove(f)
    else:
        created = os.path.getmtime(f"{path}/{f}")  # creation timestamp
        created = datetime.datetime.fromtimestamp(created)  # translate to dt
        created = created.strftime("%d.%m.%Y %H:%M")  # arrange it
        created_eve.append(created)  # store it

uids_eve = set([f.split("-")[2].split(".")[0] for f in files_eve])

In [5]:
uids_exp - uids_eve

set()

In [6]:
uids_eve - uids_exp

set()

In [7]:
print(len(uids_exp))
print(len(uids_eve))
print(abs(len(uids_exp) - len(uids_eve)))

10366
10366
0

In [8]:
# select shortest uid lis, there are 20 missing recordings from one side
id_side = [
    {
        "id": f.split("-")[2].split(".")[0],
        "created": created_exp[i],
        "expo": EXPO,
        "side": SIDE,
    }
    for i, f in enumerate(files_exp)
]

In [9]:
id_side = pd.DataFrame(id_side)
id_side = id_side.sort_values("created")
id_side

                                    id           created expo   side
9070  9a7cf99094a7446eab3d27841d672fd5  01.06.2019 12:02  MSW  right
2959  ddd3ef19c983441db648c17d46595a52  01.06.2019 12:10  MSW  right
3058  e4f5dce0407b45fa90aeb6afa5768c23  01.06.2019 12:15  MSW  right
4969  7385122ad478473da4fcaa50c5832f95  01.06.2019 12:18  MSW  right
9993  e0ac23be20324e22b3585331320a3b2c  01.06.2019 12:24  MSW  right
...                                ...               ...  ...    ...
6983  054085c5d302445eb5f5b934684373b1  31.05.2019 19:04  MSW  right
2070  9de5c30e5aac426aa8f9d3f6750dd52b  31.05.2019 19:07  MSW  right
7336  1e9c667bc9bc47389d17bd031e57bc6a  31.05.2019 19:11  MSW  right
580   2b8ccd7b26f949b1bff6861fe6031349  31.05.2019 19:30  MSW  right
8241  5fa1a65af47545d1b71ccf712479db1c  31.05.2019 19:45  MSW  right

[10366 rows x 4 columns]

In [10]:
id_side.to_csv(f"./{EXPO.lower()}_{SIDE}_uids.csv", index=False)